# Copied from https://github.com/executablebooks/jupyter-book/blob/master/.binder/requirements.txt
altair
bokeh
folium
ipywidgets
jupytext
matplotlib
nbclient
numpy
pandas
plotly
scikit-learn 
seaborn
sphinx-click
sphinx-examples
sphinx_inline_tabs
sphinx-proof
sphinxext-rediraffe~=0.2.3
sympy

